<aside class="s-12 l-3 bg-grey box-shadows margin-bottom">
    <div class="step-configuration">
        <h4 class="text-center shadows"><i class="icon-settings cl-olivie"></i> Step Configuration</h4>
    </div>
    <div class="aside-nav">
        <ul>
            <li id="welcome"><a>Welcome!</a></li>
            <li id="database"><a>DataBase</a></li>
            <li id="final"><a>Admin</a></li>
        </ul>
    </div>
</aside>