{% extends 'base.html.twig' %}
{% block body %}
    <div class="l-12 text-center">
        <h4 class="padding ">Successful! User "<b>{{ user.username }}</b>" registered <a href="{{ path('homepage') }}">Back to Main</a></h4>
    </div>
{% endblock %}
