{% extends "base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/configuration/js/main.js') }}">var url = window.location.pathname, link;
        link = url.replace('/app_dev.php/', '');
        $jq = jQuery.noConflict();
        $jq(document).ready(function () {
            id = $('#' + link);
            id.addClass('box-shadows');
            id.children('a').append('<i class="icon-arrow_big_left cl-olivie"></i>');
        });</script>
{% endblock %}
{% block aside %}
    {% include '@Configuration/Homepage/aside.html.twig' %}
{% endblock %}
{% block body %}
    <div class="text-center bg-info l-offset-2 l-5 margin-bottom">
        <h3 class="cl-olivie shadows box-shadows">  Welcome to Application!</h3>
    </div>
    <div class="l-8">
        <div class="line">
            <div class=" l-10 center welcome">
                <h4>Welcome to first configuration Administration panel.</h4>
                <p>This application for example, how I can using symfony framework for my different whims.</p>
            </div>
        </div>
    </div>
    <div class="l-12 ">
        <a href="{{ path('configuration_database') }}" class="button rounded-btn right margin-button">Next</a>
    </div>
{% endblock %}